@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,700;1,400;1,700&display=swap');

* {
    font-family: 'Comic Neue', cursive;
}

body {
    background: url('../img/forest.jpg') repeat center;
}

small.form-text {
    color: #212529 !important;
}

.wrap {
    word-break: break-all;
}